@import "../vars.scss";

@media screen and (max-width: 1314px) {
  .container-center {
    .intro {
      flex-direction: column;
      padding: 40px 0;
    }

    .intro-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95%;
      margin-left: 0;
      text-align: center;
    }

    .login-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
  }

  .div-container-portal {
    .intro-portal {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px 0px;
    }

    .botom-box h3 {
      max-height: 50%;
      flex-grow: 1;
    }
  }
}
